@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url("font/Roboto-Light") format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url("font/Roboto-LightItalic.ttf") format('truetype');
}

/* Normal */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url("font/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url("font/Roboto-Italic.ttf") format('truetype');
}

/* Bold */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url("font/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url("font/Roboto-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 700;
  src: local('glyphicons halflings regular'), local('glyphicons halflings'), url("font/glyphicons-halflings-regular.ttf") format('truetype');
}