<!--header section start-->
<%- include('../header'); %>
<!--header section end-->
  <!-- Left side column. contains the logo and sidebar -->
<!-- Left side column. contains the logo and sidebar -->
  <%- include('../sidebar'); %>
<!-- sidebar-menu end -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Edit Project
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="<%= ADMIN_URL %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="<%= ADMIN_URL %>projects">Projects</a></li>
        <li class="active">Edit Project</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
         <div class="col-xs-12">
         
          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <div class="col-md-12 add1">
                        <h3 class="panel-title"><span class="text-bold">Project</span></h3>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="panel panel-white">

                  <div class="panel-body col-md-6 col-lg-6">
                      <% if (messages.error) { %>                                        
                          <p class="alert alert-danger"><%= messages.error %></p>
                     
                        <% } %> 
                    <form method="post" action="<%= ADMIN_URL %>projects" id="form-data" name="form-data">
                        <div class="form-group">
                            <label for="name">Name :</label>
                            <input type="text" class="form-control validate[required]" id="name" name="name" placeholder="Name" value="<%= result.name %>">
                        </div>
                         <div class="form-group">
                            <label for="name">Description :</label>
                            <textarea class="form-control validate[required]" id="description" name="description" placeholder="Description"><%= result.description %></textarea>                          
                        </div>
                        <div class="form-group">
                            <label for="name">Assignee :</label><br>
                            <label class="radio-inline"><input type="radio" name="assignee" value="2" <% if(result.assignee == 2 ){%> checked  <% } %> onchange="toogleAssignee(this.value)">Team</label>
                            <label class="radio-inline"><input type="radio" name="assignee" value="1" <% if(result.assignee == 1 ){%> checked  <% } %> onchange="toogleAssignee(this.value)">Users</label>
                        </div>
                        <div id="div_team" style="display:<% if(result.assignee == 2 ){ %>block<% } else { %>none<% } %>">
                          <div class="form-group">
                              <label for="name">Team :</label>
                              <select class="form-control validate[required] select-search" name="team" id="team">
                                  <option value="">Select Team</option>
                                <% teams.forEach(function(team) {%>
                                    <option value="<%= team.id %>" <% if(team.id == selected_team) { %>selected <% } %>><%= team.name %></option>
                                <% }); %>
                              </select>
                          </div>
                        </div>
                        <div id="div_users" style="display:<% if(result.assignee == 1 ){ %>block<% } else { %>none<% } %>">
                          <div class="form-group">
                              <label for="name">Select Users :</label>
                              <select class="form-control validate[required] select-search" name="users[]" id="users" multiple="multiple">
                                <% users.forEach(function(user) {%>
                                    <option value="<%= user.id %>"><%= user.email %></option>
                                <% }); %>
                              </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="status pull-left" class="status">Status :</label>                     
                              <li class="tg-list-item">
                                <input class="tgl tgl-light" id="status" name="status" type="checkbox" <% if(result.status == 1) { %>checked <% } %> />
                                <label class="tgl-btn" for="status"></label>
                              </li>
                        </div> 
                        <input type="hidden" class="form-control" name="id" value="<%= result.id %>">                   
                        <input type="hidden" class="form-control" name="_method" value="PUT">
                        <input type="submit" class="btn btn-primary" name="submit" value="Edit Project">
                    </form>
                  </div>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!--footer section start-->
      <%- include('../footer'); %>
<!--footer section end-->

<!-- page script -->
<script>
	$(document).ready(function(){

    	$("#form-data").validationEngine('attach', {promptPosition : "topLeft"});
      $('.select-search:not(:hidden)').select2();
      $("#users").select2({theme: "classic"}).val([<%= selected_users %>]).trigger("change");
      
  });
  function toogleAssignee(val){      
      if(val == 1){

         $('#div_team').hide();
         $('#div_users').show();
      }
      else{
          $('#div_users').hide();
          $('#div_team').show();
      }
  }
</script>
</body>
</html>
