<!--header section start-->
<%- include('../header'); %>
<!--header section end-->
  <!-- Left side column. contains the logo and sidebar -->
<!-- Left side column. contains the logo and sidebar -->
  <%- include('../sidebar'); %>
<!-- sidebar-menu end -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Projects</h1>
      <ol class="breadcrumb">
        <li><a href="<%= ADMIN_URL %>"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Projects</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
         
          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <div class="col-md-12 add1">
                        <a href="projects/create" class="btn btn-green add-row">
                          Add New <i class="fa fa-plus"></i>
                        </a>
              </div>

            </div>
                <% if (messages.error) { %>
                  <div class="box-header">
                      <p class="alert alert-danger"><%= messages.error %></p>
                  </div>  
                <% } %>
                <% if (messages.success) { %>
                    <div class="box-header">
                        <p class="alert alert-success"><%= messages.success %></p>
                    </div>  
                <% } %>

            <!-- /.box-header -->
            <div class="box-body">
              <table id="data-table" class="table table-bordered table-striped" width="100%">
                <thead>
                <tr>
                  <th>id</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Created At</th>
                  <th>Updated At</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  <% result.forEach(function(data){ %>
                    <tr>
                            <td><%= data.id %></td>
                            <td><%= data.name %></td>
                            <td>
                              <% if(data.status == 1){ %>
                                 <button type="button" class="btn btn-success btn-xs">Active</button>
                              <% }
                              else { %>
                                  <button type="button" class="btn btn-danger btn-xs">Inactive</button>
                              <% } %>
                            </td>
                            <td><%= data.created_at %></td>
                            <td><%= data.updated_at %></td>
                          <td class="text-left">
                            <a class='btn btn-info btn-xs' data-toggle="tooltip" title="Edit" href="projects/edit/<%= data.id %>"><span class="glyphicon glyphicon-edit"></span></a>
                             <a class='btn btn-danger btn-xs' data-toggle="tooltip" title="Delete" onclick="deleteRecord('form-data<%= data.id %>')"><span class="glyphicon glyphicon-remove"></span></a>  

                            <form method="post" action="<%= ADMIN_URL %>projects" id="form-data<%= data.id %>" name="form-data<%= data.id %>" class="test">
                              <input type="hidden" class="form-control" name="id" value="<%= data.id %>">                   
                              <input type="hidden" class="form-control" name="_method" value="DELETE">
                            </form>                           
                          </td>
                      </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!--footer section start-->
      <%- include('../footer'); %>
<!--footer section end-->

<!-- page script -->
<script>
  $(function () {

    $('#data-table').DataTable({
         "order": [[ 0, "desc" ]],
         "columnDefs": [ 
                          {
                            "targets": 0,
                            "orderable": false,
                            "visible": false,
                            "searchable": false
                          },
                          {
                            "targets": 5,
                            "orderable": false,
                            "searchable": false
                          }  
                      ]
    });

    $('[data-toggle="tooltip"]').tooltip();
  })

  function deleteRecord(form){
      if(confirm('Are you sure you want to delete?')){
        document.getElementById(form).submit();
      }
      else{
        return false;
      }    
  }
</script>
</body>
</html>
