<!--header section start-->
<%- include('header'); %>
<!--header section end-->
  <!-- Left side column. contains the logo and sidebar -->
<!-- Left side column. contains the logo and sidebar -->
  <%- include('sidebar'); %>
<!-- sidebar-menu end -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Dashboard</h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box"><span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
              
              <div class="info-box-content">
                <span class="info-box-text text-aqua">Users</span>
                <span class="info-box-number">Total Users<small>(<%= user_counts %>)</small></span>
              </div>
              <!-- /.info-box-content -->
              <a href="<%= ADMIN_URL %>users"" class="small-box-footer ">View Detail  <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-red"><i class="fa fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text text-red">Teams</span>
                <span class="info-box-number">Total Teams<small>(<%= team_counts %>)</small></span>
              </div>
              <!-- /.info-box-content -->
              <a href="<%= ADMIN_URL %>teams" class="small-box-footer ">View Detail  <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix visible-sm-block"></div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-green"><i class="icon-project-dash"></i></span>

              <div class="info-box-content">
                <span class="info-box-text text-green">Projects</span>
                <span class="info-box-number">Total Projects<small>(<%= project_counts %>)</small></span>
              </div>
              <!-- /.info-box-content -->
              <a href="<%= ADMIN_URL %>projects" class="small-box-footer ">View Detail  <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!--footer section start-->
      <%- include('footer'); %>
<!--footer section end-->

<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable();
  })
</script>
</body>
</html>
