  <footer class="main-footer">
    <strong>Copyright &copy; 2018.</strong> All rights
    reserved.
  </footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="<%= ADMIN_URL %>javascripts/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="<%= ADMIN_URL %>javascripts/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="<%= ADMIN_URL %>javascripts/jquery.dataTables.min.js"></script>
<script src="<%= ADMIN_URL %>javascripts/dataTables.bootstrap.min.js"></script>

<!-- Adminguvnl App -->
<script src="<%= ADMIN_URL %>javascripts/sidebar.js"></script>

<script src="<%= ADMIN_URL %>javascripts/jquery.validationEngine-en.js"></script>
<script src="<%= ADMIN_URL %>javascripts/jquery.validationEngine.js"></script>