<aside class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p>Profile Name</p>
     <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
    </div>
  </div>
  <!-- search form -->
  <!--<form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
    </div>
  </form>-->
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
       <!-- <li class="header">MAIN NAVIGATION</li>-->
        <li class="active">
          <a href="<%= ADMIN_URL %>">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
           <!-- <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>-->
          </a>
          
        </li>
        <li>
          <a href="<%= ADMIN_URL %>users">
            <i class="fa fa-files-o"></i>
            <span>Users</span>            
          </a>
          
        </li>
        <li>
          <a href="<%= ADMIN_URL %>teams">
            <i class="fa fa-th"></i> <span>Teams</span>
            <!--<span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>-->
          </a>
        </li>
        
         
        <li>
          <a href="#">
            <i class="fa fa-envelope"></i> <span>Projects</span>
          </a>
        </li>
      
        <!--<li class="header">LABELS</li>!-->
       
      </ul>
</section>
<!-- /.sidebar -->
</aside>