<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="<%= ADMIN_URL %>images/profile.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Admin</p>
        <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
      </div>
    </div>
    <!-- search form -->
   <!--<form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
        </span>
      </div>
    </form>-->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
     <!-- <li class="header">MAIN NAVIGATION</li>-->
      <li <% if(page == 'dashboard'){ %>class="active"<% } %>>
        <a href="<%= ADMIN_URL %>">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
         <!-- <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>-->
        </a>        
      </li>
      <li <% if(page == 'users'){ %>class="active"<% } %>>
        <a href="<%= ADMIN_URL %>users">
          <i class="fa fa-user"></i>
          <span>Users</span>
          
        </a>
        
      </li>
      <li <% if(page == 'teams'){ %>class="active"<% } %>>
        <a href="<%= ADMIN_URL %>teams">
          <i class="fa fa-users"></i> <span>Teams</span>
          <!--<span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
          </span>-->
        </a>
      </li>
      
       
      <li <% if(page == 'projects'){ %>class="active"<% } %>>
        <a href="<%= ADMIN_URL %>projects">
          <i class="icon icon-project"></i> <span>Projects</span>
        </a>
      </li>
      <li>
        <a href="<%= ADMIN_URL %>logout">
          <i class="fa fa-sign-out"></i> <span>Sign Out</span>
        </a>
      </li>
      
      <!--<li class="header treeview">LABELS</li>!-->
     
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>