<!DOCTYPE HTML>
<html>
<head>
<title>GUVNL</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <!-- Bootstrap Core CSS -->
<link href="stylesheets/bootstrap.min.css" rel="stylesheet" />
<!-- Custom CSS -->
 <link href="stylesheets/style.css" rel="stylesheet" />
<!-- Graph CSS -->
<link href="stylesheets/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<!--<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>-->
<!-- lined-icons -->
<link  href="stylesheets/icon-font.min.css" rel="stylesheet" />
<link  href="stylesheets/validationEngine.jquery.css" rel="stylesheet" />
<!-- //lined-icons -->
<!-- js -->
<script src="javascripts/jquery.min.js" type="text/javascript"></script>
<script src="javascripts/jquery.validationEngine-en.js" type="text/javascript"></script>
<script src="javascripts/jquery.validationEngine.js" type="text/javascript"></script>
</head> 
<body>
   <div class="bg_login">
   <!--/content-inner-->
	 	<div class="inner-content">
	 		<div class="form">
			    <div class="row">
						<div class="form-section text-center">
							<h2>Welcome User Dashboard</h2>
							<h2><a href="logout">Logout</a></h2>
			        	</div>
			    </div>
			</div>
		</div>
	</div>
</body>	
</html>
