<!DOCTYPE HTML>
<html>
<head>
<title>GUVNL</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <!-- Bootstrap Core CSS -->
<link href="stylesheets/bootstrap.min.css" rel="stylesheet" />
<!-- Custom CSS -->
 <link href="stylesheets/style.css" rel="stylesheet" />
<!-- Graph CSS -->
<link href="stylesheets/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<!--<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>-->
<!-- lined-icons -->
<link  href="stylesheets/icon-font.min.css" rel="stylesheet" />
<link  href="stylesheets/validationEngine.jquery.css" rel="stylesheet" />
<!-- //lined-icons -->
<!-- js -->
<script src="javascripts/jquery.min.js" type="text/javascript"></script>
<script src="javascripts/jquery.validationEngine-en.js" type="text/javascript"></script>
<script src="javascripts/jquery.validationEngine.js" type="text/javascript"></script>
</head> 
<body>
   <div class="bg_login">
   <!--/content-inner-->
	 	<div class="inner-content">
	 		<div class="form">
			    <div class="row">
						<div class="form-section text-center">
							<div class="login-logo"><img src="images/logo_img.png"></div>
				            <form method="post" action="login" id="form-data" name="form-data">
				            	
				            	<img src=""><h2 class="text-center"><strong>GUVNL</strong></h2>
				            	<% if (messages.error) { %>
				            	   <p class="alert alert-danger"><%= messages.error %></p>
								<% } %>
				            	<div class="form-group">				            			            		 
							    	<input type="text" class="form-control validate[required,custom[email]]"  id="email" placeholder="Enter email" name="email">				    							    
							    </div>
							    <div class="form-group">
							      	<input type="password" class="form-control validate[required,minSize[6]]" id="password" placeholder="Enter password" name="password">
							    </div>
					            
					            <p class="text-center"><a href="#">Forgot Password?</a></p>
					            <div class="group-btn text-center">   
						            <input type="submit" name="submit" class="btn_login" value="Login" />
					            </div>
					       		
				            </form>
			        	</div>
			    </div>
			</div>
		</div>
	</div>
<script>
	$(document).ready(function(){
    	$("#form-data").validationEngine('attach', {promptPosition : "topLeft"});
    });
</script>

</body>	
</html>
