html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
}
body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    background:#011D4A!mportant;
}
a:focus, a:active, a:hover ,a.dropdown-toggle{
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #002561;
    text-decoration:none;
}
a {
    background-color:none;
}
body p{
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
        font-family: 'Roboto', sans-serif;
}
a {
  color: #008DE7;
  font-weight:400;
}
a:hover { transition: all 200ms ease-in-out; }

.inner-content .row{
    margin-right: auto;
    margin-left: auto;
}
/*------------------------------------------------------------------------------------------------*/


/* Login start  */
.form{
    width: 365px;
    margin: 7% auto;
}

.bg_login{
    background: url(../images/bg_img.png) no-repeat center center fixed;
    background-size: cover;
    height:100%;
    position: absolute;
    width: 100%;
    display: table;
}
.inner-content {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}

.form-control {
    border-radius: 6px;
    border:none;
    //width: 45%;
    margin: 0 auto;
    height: 40px;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d4d4d4;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #d4d4d4;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #d4d4d4;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #d4d4d4;
}
.forgot a{
    color:#3e5873;
}
.btn_login{
    background: #324355;
    border: none;
    background: #324355;
    border-radius: 9px;
    padding: 11px 49px;
    color: #fff;
}

.group-btn {
    margin: 24px auto;
}
.btn_login:hover{
    color: #fff;
}


/*------------------------------------------------------------------------------------------------*/


/* Login end  */


@media (max-width:768px){

.form{
    width: 90%;
}

.form-control {
        width: 70%;
        margin: 0 auto;
    }

}


@media (max-width:320px){

.form-control {
        width: 100%;
        margin: 0 auto;
    }

}