<!--header section start-->
<%- include('../header'); %>
<!--header section end-->
  <!-- Left side column. contains the logo and sidebar -->
<!-- Left side column. contains the logo and sidebar -->
  <%- include('../sidebar'); %>
<!-- sidebar-menu end -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Edit User
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="<%= ADMIN_URL %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="<%= ADMIN_URL %>users">Users</a></li>
        <li class="active">Edit User</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
         <div class="col-xs-12">
         
          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <div class="col-md-12 add1">
                        <h3 class="panel-title"><span class="text-bold">User</span></h3>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="panel panel-white">
                 
                  <div class="panel-body col-md-6 col-lg-6">
                    <form method="post" action="<%= ADMIN_URL %>users" id="form-data" name="form-data">
                        <div class="form-group">
                            <label for="name">Name :</label>
                            <input type="text" class="form-control validate[required]" id="name" name="name" placeholder="Name" value="<%= result.name %>">
                        </div>
                        <div class="form-group">
                            <label for="email">Email :</label>
                            <input disabled type="email" class="form-control" id="email"  name="email" placeholder="Email" value="<%= result.email %>">
                        </div>
                        <div class="form-group">
                          <label for="status pull-left" class="status">Status :</label>                     
                              <li class="tg-list-item">
                                <input class="tgl tgl-light" id="status" name="status" type="checkbox" <% if(result.status == 1) { %>checked <% } %> />
                                <label class="tgl-btn" for="status"></label>
                              </li>
                        </div> 
                        <input type="hidden" class="form-control" name="id" value="<%= result.id %>">                   
                        <input type="hidden" class="form-control" name="_method" value="PUT">
                        <input type="submit" class="btn btn-primary" name="submit" value="Edit User">
                    </form>
                  </div>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!--footer section start-->
      <%- include('../footer'); %>
<!--footer section end-->

<!-- page script -->
<script>
	$(document).ready(function(){
    	$("#form-data").validationEngine('attach', {promptPosition : "topLeft"});
    });
</script>
</body>
</html>
