<!--header section start-->
<%- include('../header'); %>
<!--header section end-->
  <!-- Left side column. contains the logo and sidebar -->
<!-- Left side column. contains the logo and sidebar -->
  <%- include('../sidebar'); %>
<!-- sidebar-menu end -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Users</h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Users</li>
      </ol>
      <div class="custom-dropdown big  pull-right">
          <select>    
            <option>UGVCL</option>
            <option>PG</option>  
            <option>MG</option>
            <option>DG</option>
          </select>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
         
          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <div class="col-md-12 add1">
                        <a href="users/create" class="btn btn-green add-row">
                          Add New <i class="fa fa-plus"></i>
                        </a>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="data-table" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  <% result.forEach(function(data){ %>
                    <tr>
                            <td><%= data.name %></td>
                            <td><%= data.email %></td>
                          <td class="text-center">
                            <a class='btn btn-info btn-xs'  data-toggle="tooltip" title="Edit" href="#"><span class="glyphicon glyphicon-edit"></span></a> 
                            <a href="#" data-toggle="tooltip" title="Delete" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> </a>
                          </td>
                      </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!--footer section start-->
      <%- include('../footer'); %>
<!--footer section end-->

<!-- page script -->
<script>
  $(function () {
    $('#data-table').DataTable();
  })
</script>
</body>
</html>
